Net "output<0>" LOC = "K2" ; #Bank = 3, pin name = IO_L38P_M3DQ2, Sch name = JB1
Net "output<1>" LOC =" K1 "; #Bank = 3, pin name = IO_L38N_M3DQ3, Sch name = JB2
Net "output<2>" LOC = "L4" ; #Bank = 3, pin name = IO_L39P_M3LDQS, Sch name = JB3
Net "output<3>" LOC = "L3" ; #Bank = 3, pin name = IO_L39N_M3LDQSN, Sch name = JB4
Net "output<4>" LOC = "J3 "; #Bank = 3, pin name = IO_L40P_M3DQ6, Sch name = JB7
Net "output<5>" LOC =" J1 "; #Bank = 3, pin name = IO_L40N_M3DQ7, Sch name = JB8
Net "output<6>" LOC = "K3 "; #Bank = 3, pin name = IO_L42N_GCLK24_M3LDM, Sch name = JB9
Net "output<7>" LOC =" K5 "; #Bank = 3, pin name = IO_L43N_GCLK22_IRDY2_M3CASN, Sch name = JB10
NET "clk_in"            LOC = "V10" ;   #Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK
Net "clk_in" TNM_NET = sys_clk_pin;

#Net "X<0>" LOC = T10 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L29N_GCLK2, Sch name = SW0
#Net "X<1>" LOC = T9 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L32P_GCLK29, Sch name = SW1




